{% extends 'layouts/application.html' %} {% block content %}
<div class="overlay blur"></div>
<div id="app">
    <img class="changa-picto-logo" src="images/changa-picto-logo.svg"  />

    <input type="text" placeholder="search" class="input-search" />
    <div class="icons">
        {% for icon in icons %}
        <div class="icon">
            <span class="icon-title" data-original="{{icon}}">{{icon}}</span>
            <img class="icon-img" src="images/svg/{{ icon }}" />
        </div>
        {% endfor %}
    </div>

    <div class="modal" style="display: none;">
        <h3 id="modal-icon-title"></h3>
        <img id="modal-icon-img" />

        <h5>DOWNLOAD AS</h5>
        <a class="btn--purple" id="modal-icon-download-png" href="#" download>PNG</a>
        <a class="btn--green" id="modal-icon-download-svg" href="#" download>SVG</a>

        <ul class="size-radios">
            {% for size in sizes %}
            <li>
                {% if size == 256 %}
                    <input type="radio" name="size" id="size-{{size}}" value="{{size}}" checked="checked" />
                {% else %}
                    <input type="radio" name="size" id="size-{{size}}" value="{{size}}" />
                {% endif %}
                <label for="size-{{size}}">{{size}}</label>
            </li>
            {% endfor %}
        </ul>
        <span class="size-radios-label">px</span>
    </div>
    <div class="information">
        <p><a href="https://github.com/kleinrein/">by andreas rein<a/></p>
        <p>
            <a href="https://github.com/kleinrein/changa-picto">github</a>
            <span>&nbsp;</span>
            <a href="https://github.com/kleinrein/changa-picto#license">LICENSE</a>
        </p>
        <p>
            {{icons.length}} icons
        </p>
        <p>
            v.1.1.0
        </p>
    </div>
</div>
{% endblock %}
