// .. colors ..
$colorRomance: #FDFDFD;
$colorDesertStorm: #F8F8F8;
$colorWhite: #FFFFFF;
$colorBlue: #5994FF;
$colorPurple: #FF5AF1;
$colorGreen: #57FFB8;
$colorYellow: #FFD36B;
$colorIron: #C9C9C9;

// .. dimens ..
$mobile-dimens: "only screen and (max-width : 612px)";
