.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4em;
  align-items: center;

  .icon {
    background-color: #ffffff;
    border-radius: 50%;
    padding: 2rem;
    margin-bottom: 2em;
    box-shadow: 1px 1px 10px rgba(227, 227, 227, 0.35);
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin-left: 2em;
    cursor: pointer;
    position: relative;

    &:hover:after {
      padding: 1px;
      opacity: 1;
      background: linear-gradient(to bottom, #58FFB7 0%,#FFD36B 100%);
    }

    &:after {
      opacity: 0;
      transition: all 50ms cubic-bezier(0.000, 1.170, 1.000, 0.370);
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 50%;
      z-index: -1;
      display: flex;
      -webkit-animation: animatedbg 200ms ease infinite;
      animation: animatedbg 200ms ease infinite;
    }
  }

  .icon-title {
    display: none;
  }

  .icon-img {
    max-width: 100%;
    display: block;
    height: 6em;
    margin: 0 auto;
    display: flex;
    -webkit-backface-visibility: hidden;
-webkit-perspective: 1000;
-webkit-transform: translate3d(0,0,0);
-webkit-transform: translateZ(0);
backface-visibility: hidden;
perspective: 1000;
transform: translate3d(0,0,0);
transform: translateZ(0);
  }
}
