.modal {
    position: fixed;
    width: 26rem;
    height: 28rem;
    padding: 2em;
    background-color: #fff;
    border-radius: 2em;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 1px 2px 25px rgba(0,0,0,.5);
    z-index: 10;
    transform: translateY(-50px);
    display: none;

    h2,
    h3 {
        text-transform: uppercase;
        font-weight: 300;
    }

    #modal-icon-title {
        margin-bottom: 0.25em;
        font-weight: 300;
    }

    h5 {
        font-weight: 100;
    }

    img {
        height: 14em;
        max-width: 100%;
        margin: 2em auto;
        display: block;
    }
}

.size-radios {
    overflow: hidden;
    border-radius: 8px;
    background: $colorDesertStorm;
    width: 19em;
    margin: 2em auto;
    li {
        float: left;
        list-style-type: none;
    }

    input[type="radio"] {
        visibility: hidden;
        position: absolute;

        &:checked + label {
            color: #fff;
            background: linear-gradient($colorGreen, $colorYellow);
        }
    }

    label {
        display: block;
        padding: .5em .75em;
        margin: -1px 0;
        text-align: center;
        cursor: pointer;
        color: $colorIron;
        font-weight: 500;
        @include transition(all 100ms ease-in-out);
        &:hover {
            color: #A6A6A6;
        }
    }
}

.size-radios-label {
    position: absolute;
    bottom: 1em;
    color: $colorIron;
    font-weight: 500;
}

#modal-icon-img {
    width: 10em;
    max-height: 100%;
    margin: 0 auto;
    display: flex;
}
