.icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4em;
    align-items: center;
    .icon {
        background-color: #ffffff;
        border-radius: 50%;
        padding: 2em;
        box-shadow: 1px 1px 10px rgba(227, 227, 227, 0.35);
        display: flex;
        align-self: center;
        justify-content: center;
        align-items: center;
        margin-left: 2em;
        cursor: pointer;
    }
    .icon-title {
        display: none;
    }
    .icon-img {
        max-width: 100%;
        display: block;;
        height: 6em;
        margin: 0 auto;
        display: flex;
    }
}
