.modal {
    position: fixed;
    width: 25rem;
    height: 25rem;
    background-color: #fff;
    border-radius: 2em;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 1px 2px 25px rgba(0,0,0,.05)
}
